%section.container
  %h2= @topic.title
  %small= @topic.tweets.count.to_s + ' Tweets'

  %h3='Visualisierung'
  %h4='Balkendiagramm: Verteilung der Sentiments'
  %section.container
    %svg.vis#chart{:style => "border:1px black solid;"}       
    = javascript_include_tag "d3.min.js"
      
    / Hier werden die Daten für das Chart zusammengebaut 
  %h4='Baumdiagramm des Gesprächsverlaufs'
  %section.container
    %svg.vis#tree{:style => "border:1px black solid;"} 
    %script
      var chartdata=[#{@positive},#{@neutral},#{@negative},#{@nothing}];
      var data=[
      { "name" : "#{@topic.title}", "parent":"null" },      
      - @tweets.each do |tweet|
        {"name": "#{tweet[:id]}","text":"#{tweet[:text]}","parent": "#{tweet[:reply_to]}","color":"#{tweet[:color]}"},
      ];
      loadchart(chartdata);
      loadtree(data);


     
