-if @discussion.get("status") != "created"
  We are still busy collecting the data. Please stand by

  :javascript
    window.track_status("#{@discussion.url}");


-else
  -statistics = DiscussionStatistics.new(@discussion)

  %section.container
    %h2= @discussion.url
    %small= "#{@discussion.posts.count} Posts"

    %h3='Visualisierung'
    .row
      .col-md-12
        %h4='Balkendiagramm: Verteilung der Sentiments'
        %section
          .vis#chart
    .row
      .col-md-12
        %h4="Sunburst des Gesprächsverlaufs"
        .row
          .col-md-6
            #sunburst
              #explanation{style:"visibility:hidden;"}
                %span#percentage
          .col-md-6
            #sunburst-text

    .row
      .col-md-12
        %h4="Sentimente der Benutzer"
        %small mit mehr als 1 Beitrag
        #user_sentiments

    .row
      .col-md-12
        %h4='Baumdiagramm des Gesprächsverlaufs'
        %section
          %svg.vis#tree{:style => "border:1px black solid;"}


  :javascript
    var chartdata = #{statistics.sentiment_data.to_json};
    var treedata=#{statistics.tree_data.to_json};
    Sunburst(#{statistics.sunburst_data.to_json});
    load_chart(chartdata);
    loadtree(treedata);
    UserSentiments(#{statistics.user_sentiments.to_json});
